<module>
	<rawname>setcid</rawname>
	<name>Set CallerID</name>
	<version>2.5.0</version>
	<type>setup</type>
	<category>Third Party Addon</category>
	<description>
		Adds the ability to change the CallerID within a call flow.
	</description>
	<menuitems>
		<setcid>Set CallerID</setcid>
	</menuitems>
	<changelog>
		*2.5.0* First release of module
	</changelog>
	<depends>
		<version>2.5.0</version>
	</depends>
	<location>release/setcid-2.5.0.tgz</location>
	<md5sum>fb4911695cbd4815e38b0e57c626c097</md5sum>
</module>
